<%- if controller_name != 'sessions' %>
  <h1>会員登録がお済みの方</h1>
    <%= link_to "こちら", new_session_path(resource_name) %>からログインして下さい。
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <h1>会員登録がお済みでない方</h1>
  <%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行って下さい。
<% end %>