<div class= "container">
  <div class= "row justify-content-start">
    
    <div class= "col-md-2 my-5">
      <%= render "layouts/sidebar", genres: @genres %>
    </div>
    
    <div class= "col-md-10 my-5">
      <h2>Society Scoreとは</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h4 class="mt-5">楽譜を探す</h4>
        </li>
        <li class="list-group-item">
          ヘッダー中央部の検索フォーム、ページ左部のジャンル・楽曲一覧から<br>
          お好みの楽譜を探すことができます。欲しいものリストやカートに入れる<br>
          機能につきましては、ログイン状態でのみ使うことができます。<br>
          <br>
          各楽譜については、サンプルとして1枚目の画像および実際に演奏した<br>
          サンプル動画の視聴が可能です。
        </li>
        <li class="list-group-item">
          <h4 class="mt-5">楽譜を買う</h4>
        </li>
        <li class="list-group-item">
          カートに入れた楽譜は、情報入力画面から支払方法などの選択後、購入<br>
          することができます。購入後はマイページの注文履歴から、いつでも<br>
          ダウンロードが可能です。
        </li>
        <li class="list-group-item">
          <h4 class="mt-5">探している楽譜が見つからない場合は？</h4>
        </li>
        <li class="list-group-item">
          また、お探しの楽譜が見つからない場合、管理者にリクエストすることが<br>
          できます。ログイン後のヘッダー上部「リクエスト」からフォームの<br>
          記入をお願いします。
        </li>
      </ul>
    </div>
    
  </div>
</div>