<div class= "container">
  <div class= "row justify-content-start">
    
    <div class= "col-md-2 my-5">
      <%= render "layouts/sidebar", genres: @genres %>
    </div>
    
    <div class= "col-md-10 my-5">
      <%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post %>
    </div>
    
  </div>
</div>