<div class="container my-5">
  <h2>リクエスト詳細</h2>
    <table>
      <tr>
        <th>ID</th>
        <td><%= @request.id %></td>
      </tr>
      <tr>
        <th>タイトル</th>
        <td><%= @request.title %></td>
      </tr>
      <tr>
        <th>内容</th>
        <td><%= @request.body %></td>
      </tr>
    </table>

</div>