<div class= "container">
  <div class= "row justify-content-start">

    <div class= "col-md-2 my-5">
      <%= render "layouts/sidebar", genres: @genres %>
    </div>

    <div class= "col-md-10 my-5">
      <h1>ご注文ありがとうございました！</h1>
    </div>

  </div>
</div>
