<div class= "container">
  <div class= "row justify-content-start">

    <div class= "col-md-2 my-5">
      <%= render "layouts/sidebar", genres: @genres %>
    </div>

    <div class= "col-md-10 my-5">
      <div class="col text-center">
        <h1 class="mt-5">ご注文ありがとうございました！</h1>
        
        
        <h5 class="mt-5">注文履歴からダウンロードできます↓</h5>
        <%= link_to orders_path do %>
          <button type="button" class="btn btn-info">注文履歴</button>
        <% end %>
        </div>
    </div>

  </div>
</div>
