<footer class="border-top">
  <div class="container">
    <div class="row">
      <%= link_to about_path do %>
        <div class="footer-content my-5">
          <i class="fas fa-link"></i>
          Society Scoreについて
        </div>
      <% end %>
      <div class="footer-content mx-auto my-5">
        <%= image_tag 'logo.png', :size => '280x28' %>
      </div>
    </div>
  </div>
</footer>